@model BizWizProj.Models.OpenShift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpenShift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dayIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shiftIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shiftIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numOfEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
