@model IEnumerable<BizWizProj.Models.SystemNotices>

@{
    ViewBag.Title = "Index";
}
@{
    var message = "";
    if (ViewBag.NoticesForMe.Count > 0)
    {
        for (var i = 0; i < ViewBag.NoticesForMe.Count; i++)
        {
            message += "<b>On:</b> " + ViewBag.NoticesForMe[i].Date +
                "<br/><b>From:</b> " + ViewBag.NoticesForMe[i].From +
                "<br/><b>Message:</b> <font color=\"blue\">"
                + ViewBag.NoticesForMe[i].Text + "</font color><br><br>";
        }
    }
}





<h2>Index</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<div id="wrapper" style="border:ridge; width:180px; padding: 5px;">
    <marquee onmouseover="stop();" onmouseout="start();"  height="250px" direction="up" scrollamount="2" >
        <div id="L" style="font-family:'Lucida Console';">

        </div>
    </marquee>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script type="text/javascript">


    document.getElementById("L").innerHTML = '@Html.Raw(message)';

</script>